.window {
    margin: 0px;
    position: fixed;
}
.window-border {
    box-shadow: 1px 1px 0px 0px #424242;
    border: 1px solid #ffffff;
    border-right-color: #848484;
    border-bottom-color: #848484;
    background: #c0c0c0;
    padding: 2px;
}
.title-bar {
    padding: 0;
    background: #808080;
    color: #fff;
    font-weight: 500;
    max-height: 21px;
}
    .title-bar .title {
        margin-left: 4px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        /* "overflow" value must be different from "visible" */
        text-overflow: ellipsis;
        font-size: 15px;
        vertical-align: middle;
        margin-bottom: 2px;
    }
    .title-bar .icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-bottom: 6px;
        margin-left: 4px;
    }
.control-box {
    float: right;
    margin: 1px;
    margin-bottom: 2px;
    margin-top: 1.95px;
}
.button-3d {
    display: block;
    float: left;
    border: 1.5px solid #ffffff;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: #c0c0c0;
    height: 18px;
    width: 18px;
    color: transparent;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
    .button-3d:active {
        border: 1px inset #fff;
    }
    .button-3d span {
        display: block;
        border-top-width: 0;
        border-left-width: 0;
        font-size: 1px;
        line-height: 13px;
    }
    .button-3d.maximize {
        margin-right: 2px;
        margin-left: 1.05px;
    }
    .button-3d.close {
        background-image: url(./images/window/close.png);
        margin-right: 2px;
    }
    .button-3d.question {
        background-image: url(./images/window/question.png);
    }
    .button-3d.question-save {
        background-image: url(./images/window/question.bmp);
    }
    .button-3d.close-save {
        background-image: url(./images/window/close.png);
    }
    .button-3d.close-dialog {
        background-image: url(./images/window/close.png);
    }
    .button-3d.close-run {
        background-image: url(./images/window/close.png);
    }
    .button-3d.maximize {
        background-image: url(./images/window/maximize.png);
    }
    .button-3d.minimize {
        background-image: url(./images/window/minimize.png);
    }
.menu-bar,
.toolbar {
    height: 20px;
    overflow: hidden;
    margin: 2px 1px;
    padding: 0 6px;
    background: url(./images/window/toolbar-grip.png) no-repeat 2px 6px;
}
.menu-bar {
    line-height: 22px;
    margin: 0;
    border: 1px outset #fff;
    padding-bottom: 4px;
}
    .menu-bar a {
        text-decoration: none;
        display: inline-block;
        padding: 0px 4px;
    }
        .menu-bar a span {
            text-decoration: underline;
        }
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
pre {
    font-size: 14px;
}
.clear {
    clear: both;
}
.toolbar {
    background-color: #c0c0c0;
    border: 1px outset #fff;
    margin: 0;
}
    .toolbar a {
        display: inline-block;
        border: 1px solid transparent;
        margin: 0px 0px 2px 0px;
        text-decoration: none;
        width: 18px;
        height: 18px;
        background: no-repeat center left;
    }
    .toolbar .sep {
        display: inline-block;
        width: 1px;
        background: #a5a5a5;
        margin: 1px 2px;
        height: 20px;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    .toolbar.float-left {
        float: left;
        margin-right: 2px;
    }
    .toolbar.float-right {
        float: right;
    }
    .toolbar .b-new {
        background-image: url(./images/Word%20Images/New.bmp);
    }
    .toolbar .b-open {
        background-image: url(./images/Word%20Images/Open.bmp);
    }
    .toolbar .b-save {
        background-image: url(./images/Word%20Images/save.bmp);
    }
    .toolbar .b-print {
        background-image: url(./images/Word%20Images/print.bmp);
    }
    .toolbar .b-preview {
        background-image: url(./images/Word%20Images/preview.bmp);
    }
    .toolbar .b-spell {
        background-image: url(./blob/master/app/images/Word%20Images/spellcheck.bmp);
    }
    .toolbar .b-cut {
        background-image: url(./images/Word%20Images/cut.bmp);
    }
    .toolbar .b-copy {
        background-image: url(./images/Word%20Images/copy.bmp);
    }
    .toolbar .b-paste {
        opacity: 0.2;
        filter: alpha(opacity=20);
        background-image: url(./images/Word%20Images/paste.bmp);
    }
    .toolbar .b-style-brush {
        background-image: url(./images/Word%20Images/style.bmp);
    }
    .toolbar .b-undo {
        background-image: url(./images/Word%20Images/undo.bmp);
    }
    .toolbar .b-redo {
        background-image: url(./images/Word%20Images/redo.bmp);
    }
    .toolbar .b-style {
        background-image: url(./images/Word%20Images/style.bmp);
    }
    .toolbar .b-bold {
        background-image: url(./images/Word%20Images/bold.bmp);
    }
    .toolbar .b-italic {
        background-image: url(./images/Word%20Images/italic.bmp);
    }
    .toolbar .b-underline {
        background-image: url(./images/Word%20Images/underline.bmp);
    }
    .toolbar .b-left {
        background-image: url(./images/Word%20Images/left.bmp);
    }
    .toolbar .b-center {
        background-image: url(./images/Word%20Images/center.bmp);
    }
    .toolbar .b-right {
        background-image: url(./images/Word%20Images/right.bmp);
    }
    .toolbar .b-ol {
        background-image: url(./images/Word%20Images/ol.bmp);
    }
    .toolbar .b-ul {
        background-image: url(./images/Word%20Images/ul.bmp);
    }
    .toolbar .b-share {
        background-image: url(./images/Word%20Images/share.bmp);
    }
    .toolbar .b-tweet {
        background-image: url(./images/Word%20Images/tweet.bmp);
    }
    .toolbar .b-fork {
        background-image: url(./images/Word%20Images/fork.bmp);
    }
    .toolbar .b-number {
        background-image: url(./images/Word%20Images/number.bmp);
    }
    .toolbar .b-bullet {
        background-image: url(./images/Word%20Images/bullet.bmp);
    }
    .toolbar .b-outdent {
        background-image: url(./images/Word%20Images/indent.bmp);
    }
    .toolbar .b-indent {
        background-image: url(./images/Word%20Images/inc-indent.bmp);
    }
    .toolbar .b-hilite {
        background-image: url(./images/Word%20Images/highlight.bmp);
    }
    .toolbar .b-fontcolor {
        background-image: url(./images/Word%20Images/fontcolor.bmp);
    }
    .toolbar a:hover {
        background-color: #c0c0c0;
        border: 1px outset #fff;
    }
    .toolbar a:active {
        /* background-color: #c0c0c0; */
        border: 1px inset #fff;
    }
    .toolbar a.text {
        width: auto;
        padding-left: 22px;
        padding-right: 4px;
        line-height: 18px;
        background-position: 2px 1px;
    }
    .toolbar a.text {
        font-style: normal;
        display: inline-block;
        padding: 2px;
        font-size: 10px;
        line-height: 10px;
        background: #d8e6ff;
        border: 1px solid #c2d3f4;
        border-radius: 3px;
        margin-left: 5px;
    }
    .toolbar .picker {
        line-height: 18px;
        height: 18px;
        background: #fff;
        margin: 4px 0 2px 0;
        display: inline-block;
        padding-left: 3px;
        position: relative;
        vertical-align: top;
    }
.selectPicker {
    line-height: 18px;
    /*height: 22px;*/
    padding: 0 30px 0 10px !important;
    -webkit-padding-end: 30px !important;
    -webkit-padding-start: 10px !important;
    /*margin: 2px 0 2px 0;*/
    width: auto;
    /*background: #fff;*/
    display: inline-block;
    padding-left: 2px;
    position: relative;
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url(../images/window/toolbar/combo.png), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 55%, #c0c0c0 56%, #c0c0c0 100%), rgba(255, 255, 255, 1);
    background: url(../images/window/toolbar/combo.png), -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 55%, #c0c0c0 56%, #c0c0c0 100%), rgba(255, 255, 255, 1);
    background: url(../images/window/toolbar/combo.png), linear-gradient(90deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 55%, #c0c0c0 56%, #c0c0c0 100%), rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-position: 97.5% 50%, 99% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto, 50% 90%;
    background-size: auto auto, 26px 16px;
    /*outline: none;*/
}
    .selectPicker:focus {
        /*outline: none;*/
    }
.picker .arrow {
    display: block;
    float: right;
    width: 11px;
    background: #c0c0c0 url(../images/window/toolbar/combo.png) no-repeat center center;
    height: 16px;
    margin: 1px 1px 1px 10px;
}
.color-picker {
    margin-top: 16px;
    /*top:10px;*/
    position: fixed;
    background: #c0c0c0;
    z-index: 99;
}
    .color-picker table {
        width: 100px;
    }
    .color-picker a {
        border: 1px solid #848484;
        width: 10px;
        height: 10px;
        text-align: center;
    }
    .color-picker:hover {
        border: 1px solid #848484;
    }
td {
    margin: 1px;
    border: 1px solid #c0c0c0;
}
    td:hover {
        border: 1px outset #fff;
    }
    td:active {
        border: 1px inset #fff;
        background: url(../images/Word%20Images/background.bmp);
    }
.active-window .title-bar {
    background: #08216b !important;
    /* Old browsers */
    background: -moz-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #08216b), color-stop(100%, #a5cef7)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* IE10+ */
    background: linear-gradient(left, #08216b 0%, #a5cef7 100%) !important;
    /* W3C */
    /* IE6-9 */
}
.application-window {
    bottom: 20%;
    left: 20%;
    /*height: 400.4px;*/
    min-height:350px;
    z-index: 103;
}
.application-fullscreen {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
